/* Model Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(http://w4.wallls.com/uploads/original/201604/23/wallls.com_110651.jpg) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    color: white;
    background-color: transparent;
    padding: 20px ;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 0 3px black;
    transition: .5s;
}

#open-btn:hover {
    background-color: white;
    color: black;
}

#modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation-name: null;
    animation-duration: .4s;
}

#close-btn {
    font-size: 3rem;
}

#close-btn:hover {
    cursor: pointer;
    font-size: 3rem;
    color: #ff0000;
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0, .2);
}

/* Modal animation */

@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes animateModalContainer {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: -300px;
        opacity: 0;
    }
    
}