/* Global Styling */

/* CSS reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Background image */

body {
    background: no-repeat url(https://pix4free.org/assets/library/2021-01-19/originals/productivity.jpg) center center/cover;
    height: 100vh;
}

/* Main content */

.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 80%;
    height: 80%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    bottom: 55%;
    right: 50%;
    transform: translate(50%,50%);
    position: absolute;
}

.container-header {
    background-color: #D1D1D1;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 10%;
    text-align: center;
    margin: 10px;
}

.main-content {
    margin: 50px;
    background-color: #D1D1D1;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
}

/* Items styling */

.section {
   border-bottom: 1px solid black;
}

.section:last-child {
    border-bottom: none;
}

.section div {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.section span {
    position: absolute;
    right: 4%;
}

.section span:hover {
    cursor: pointer;
    background-color: #6e8231;
    border-radius: 10px;
}

/* Buttons section */

.container-buttons {
    display: flex;
    gap: 30px;
    bottom: -10%;
    right: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}

button {
    font-size: larger;
    font-weight: normal;
    padding: 30px;
}

.section {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

/* Class that will be added to closed items */

.closed {
    display: none;
}





